*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}


.main{
   
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

}

.video-bg{
    
    top: 0;
    left: 0;
    
    width:100%;
    height:100vh;
    overflow: hidden;
    position: relative;
}

.content{
    position: absolute;
    top:23%;
    right:39%;

    color: aqua;
 
    z-index: 30;
}


.search-box{
    width:80%;
    max-width: 520px;
    
   
    padding: 10px 15px;
    border: none;
    outline: none;
background-color: rgba(255,255,255,0.1);
border-radius: 16px 0px 16px 0px ;
border-bottom: 3px solid #df8e00;
margin: 20px 20px 20px 20px;

font-size: 30px;

color:aqua;

}

.location .city{
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
}

.date{
    font-size:16px;

}

.current .temp{
    font-size: 103px;
    font-weight: 900;
    margin: 50px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.weather{
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba (0,0,0,0.5);

}

.hi-low{
    font-size: 25px;
    font-weight:500;
    text-shadow: 0px 4px rgba(0,0,0,0.4);
}




.box{
    position: absolute;
   
    background-color: rgba(29, 27, 27, 0.1);

    height: 65%;
    width: 50%;
   

   

    border-radius: 25px 25px 25px 25px ;
}


